$mainColor:#e8b7d4;
$secondaryColor:#7facd6;
// secondColor
$secondmainColor:#ff1493;
$secondsecondaryColor:#800080;
// thirdColor
$thirdmainColor:#8a2be2;
$thirdsecondaryColor:#ff1493;
// fourthColor
$fourthmainColor:#90ee90;
$fourthsecondaryColor:#dc143c;
// fifththColor
$fifthmainColor:#ff7f50;
$fifthsecondaryColor:#8a2be2;
// sixthColor
$sixthmainColor:#999;
$sixthsecondaryColor:#111;
// // DarkMood Colos
// $primaryDark: #ad9999;
// $background:#1b1b1b;
// $textColor:#fff;
// $iconColor:#D0d066;
// $iconSecondColor:#FDB813;
$mainTransation: .5s;